In [31]:
import numpy as np
import pandas as pd

In [52]:
dataset=pd.read_csv("D:\Hotnot Project\onelasttrain\TRAIN.csv",na_values=['None','?'])

c:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [53]:
dataset.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),NaN,6,25,1,1,NaN,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,NaN,NaN,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),NaN,1,1,7,3,NaN,NaN,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,NaN,NaN,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),NaN,1,1,7,2,NaN,NaN,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,NaN,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,1

In [54]:
dataset.count()

race                        69868
gender                      71236
age                         71236
weight                       2348
admission_type_id           71236
discharge_disposition_id    71236
admission_source_id         71236
time_in_hospital            71236
payer_code                  34115
medical_specialty           41672
num_lab_procedures          71236
num_procedures              71236
num_medications             71236
number_outpatient           71236
number_emergency            71236
number_inpatient            71236
diag_1                      71218
diag_2                      70925
diag_3                      69991
number_diagnoses            71236
max_glu_serum                4932
A1Cresult                   11378
metformin                   71236
repaglinide                 71236
nateglinide                 71236
chlorpropamide              71236
glimepiride                 71236
acetohexamide               71236
glipizide                   71236
glyburide                   71236
tolbutamide                 71236
pioglitazone                71236
rosiglitazone               71236
acarbose                    71236
miglitol                    71236
troglitazone                71236
tolazamide                  71236
examide                     71236
citoglipton                 71236
insulin                     71236
glyburide-metformin         71236
glipizide-metformin         71236
glimepiride-pioglitazone    71236
metformin-rosiglitazone     71236
metformin-pioglitazone      71236
change                      71236
diabetesMed                 71236
readmitted_NO               71236
dtype: int64

In [55]:
dataset['race'].value_counts()

Caucasian          51799
AfricanAmerican    15472
Hispanic            1348
Other                892
Asian                357
Name: race, dtype: int64

In [56]:
dataset['gender'].value_counts()

Female             38522
Male               32713
Unknown/Invalid        1
Name: gender, dtype: int64

In [57]:
dataset=dataset[dataset['gender'] != 'Unknown/Invalid']

In [59]:
pd.set_option('max_rows', None)

In [47]:
dataset['race'].value_counts()

Caucasian          51799
AfricanAmerican    15472
?                   1368
Hispanic            1348
Other                892
Asian                357
Name: race, dtype: int64

In [64]:
dataset['age'].value_counts()

[70-80)     18453
[60-70)     15592
[50-60)     12382
[80-90)     11274
[40-50)      7048
[30-40)      2799
[90-100)     1769
[20-30)      1191
[10-20)       575
[0-10)        152
Name: age, dtype: int64

In [73]:
dataset=dataset.drop(['weight'],axis=1)

In [75]:
dataset.count()

race                        69867
gender                      71235
age                         71235
admission_type_id           71235
discharge_disposition_id    71235
admission_source_id         71235
time_in_hospital            71235
payer_code                  34115
medical_specialty           41671
num_lab_procedures          71235
num_procedures              71235
num_medications             71235
number_outpatient           71235
number_emergency            71235
number_inpatient            71235
diag_1                      71217
diag_2                      70924
diag_3                      69990
number_diagnoses            71235
max_glu_serum                4932
A1Cresult                   11378
metformin                   71235
repaglinide                 71235
nateglinide                 71235
chlorpropamide              71235
glimepiride                 71235
acetohexamide               71235
glipizide                   71235
glyburide                   71235
tolbutamide                 71235
pioglitazone                71235
rosiglitazone               71235
acarbose                    71235
miglitol                    71235
troglitazone                71235
tolazamide                  71235
examide                     71235
citoglipton                 71235
insulin                     71235
glyburide-metformin         71235
glipizide-metformin         71235
glimepiride-pioglitazone    71235
metformin-rosiglitazone     71235
metformin-pioglitazone      71235
change                      71235
diabetesMed                 71235
readmitted_NO               71235
dtype: int64